<header class="js-smooth-load-hero">
  {% assign image = section.settings.image %}
  {% assign alt_text = section.settings.image_alt | escape %}
  {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
  <!-- {{ image.width }} -->
  <!-- {{ image.height }} -->
  {% assign image_width = image.width | times: 100.0 %}
  {% assign image_height = image.height | times: 100.0 %}
  {% assign padding_bottom = image_height | divided_by: image_width  %}
  <!-- {% assign padding_bottom = padding_bottom | times: 100 %} -->
  <div class="cropped-image-wrapper " style="padding-bottom: {{ padding_bottom }}%;">

    <img
    class="lazyload img-scale-in"
    data-src="{{ img_url }}"
    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
    data-aspectratio="{{ image.aspect_ratio }}"
    data-sizes="auto"
    alt="{{ alt_text }}"
    data-anim="scale"
    >
  </div>
  <div class="text-content container">
    {% if section.settings.heading != blank %}
      <h1 data-reveal="lines-masked">{{ section.settings.heading | newline_to_br }}</h1>
    {% endif %}
    {% if section.settings.link_text != blank %}
      <a href="{{ section.settings.link_url }}"
        class="link--underline"
        data-reveal="lines-masked">{{ section.settings.link_text }}</a>
    {% endif %}
  </div>
</header>


{% schema %}
  {
    "name": "Home Hero",
    "settings": [
      {
        "type": "header",
        "content": "Text Content"
      },
      {
        "id": "heading",
        "type": "textarea",
        "label": "Heading"
      },
      {
        "id": "link_text",
        "type": "text",
        "label": "Link Text"
      },
      {
        "id": "link_url",
        "type": "url",
        "label": "Link URL"
      },
      {
        "type": "header",
        "content": "Images"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "image_alt",
        "type": "text",
        "label": "Image Alt",
        "info": "Write a brief description of this image to improve search engine optimization (SEO) and ADA accessibility."
      }
    ],
    "presets": [
      {
        "name": "Home Hero Banner",
        "category": "Hero"
      }
    ]
  }

{% endschema %}
