<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">


  <header class="container">
    <div class="header-inner">
      <div class="cols-2">

        <!-- ======================================
        IMAGE COLUMN
        =========================================== -->
        <div>
          {%- include 'component-breadcrumbs' -%}

          {% if product.metafields.custom_fields["pdp_image"] != blank %}
            {% assign product_img = product.metafields.custom_fields["pdp_image"] %}
            {% assign product_img_url = product.metafields.custom_fields["pdp_image"] %}
            {% assign product_img_alt = product.metafields.custom_fields["pdp_image_alt"] %}
          {% elsif product.featured_image != blank %}
            {% assign product_img = product.featured_image %}
            {% assign product_img_url = product_img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            {% assign product_img_alt = product.featured_image.alt %}
          {% endif %}
          {% assign cart_img = product_img | img_url: '300x' %}

          <div class="cropped-image-wrapper">
            <img
            class="lazyload fade-in"
            data-src="{{ product_img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ product_img.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ product_img_alt }}"
            data-anim="scale"

            >
          </div>
        </div>

        <!-- ======================================
        PRODUCT INFO COLUMN
        =========================================== -->
        <div class="product-info-col">

          <!-- ====== LEAD INFO ======== -->
          <h1>{{ product.title }}</h1>

          <!-- SCENT -->
          {%- if product.metafields.custom_fields["product_scent"] != blank -%}
            <h2>{{ product.metafields.custom_fields["product_scent"] }}</h2>
          {%- endif -%}

          <!-- WEIGHT -->
          {%- if product.metafields.custom_fields["product_display_weight"] != blank -%}
            <p class="weight">
              {{ product.metafields.custom_fields["product_display_weight"] }}
            </p>
          {%- endif -%}


          <!-- ====== YOTPO WIDGET ======== -->
          <div class="sh-yotpo-stars {% if product.type == 'Gift Card' %}hide{% endif %}">
            <div class="yotpo bottomLine"
              data-appkey="gxjEPYqH6A7XNNqgNle58mI1O4pQ66xNFGaEXB0m"
              data-domain="{{shop.permanent_domain | escape }}"
              data-product-id="{{ product.id }}"
              data-product-models="{{ product.id }}"
              data-name="{{ product.title | escape }}"
              data-url="{{ shop.url }}{{ product.url }}"
              data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
              data-description="{{ product.description | escape }}"
              data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
            </div>
          </div>

          <div class="rte desc">
            {{ product.description }}
          </div>

          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

            <form id="add-item-form" action="/cart/add" method="post" enctype="multipart/form-data" >

              <!-- ====== VARIANT ======== -->
              {% unless product.has_only_default_variant %}
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper js variant-select variant-wrapper">
                    <label for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select
                      id="SingleOptionSelector-{{ forloop.index0 }}"
                      data-single-option-selector
                      data-index="option{{ option.position }}"
                      class="styled-select">
                      {% for value in option.values %}
                        <option
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}selected="selected"{% endif %}>
                            {{ value }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
              {% endunless %}



              <div class="{%- if product.available and product.metafields.subscriptions.has_subscription == 'True'-%}frequency-and-quantity-row{% endif %}">
                {%- if product.available -%}
                  {%- include 'subscription-product' -%}

                  {%- if product.metafields.subscriptions.has_subscription == 'True' -%}

                    <input class="js-unit-type" type="hidden" name="unit_type" value="{{ product.metafields.subscriptions.shipping_interval_unit_type }}">
                    <div class="product__option">
                      <label class="product__options-title" for="frequency">
                        Frequency
                        <span class="tooltip">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-info" viewBox="0 0 50 50"><circle cx="25" cy="25" fill="none" r="24" stroke="#000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></circle><path fill="none" d="M0 0h50v50H0z"></path><path d="M23.779 16.241c-.216 0-.357-.144-.357-.359v-2.618c0-.215.142-.359.357-.359h2.439c.215 0 .359.144.359.359v2.618c0 .215-.145.359-.359.359h-2.439zm.073 21.052c-.215 0-.358-.143-.358-.358V20.473c0-.215.144-.359.358-.359h2.295c.216 0 .359.144.359.359v16.462c0 .216-.144.358-.359.358h-2.295z"></path></svg>
                          <div class="tooltip__text">
                            {{ section.settings.subscription_popup }}
                          </div>
                        </span>
                      </label>
                      <select class="js-frequency-select select styled-select" name="frequency">
                        {% unless subscription_only %}
                        <option value="one-time">One-time Purchase</option>
                        {% endunless %}
                        {% for frequency in shipping_interval_frequency %}
                        <option value="{{ frequency }}">
                          Deliver Every {{ frequency }}
                          {% if frequency == "1" and label_unit_type == 'Months' or label_unit_type == 'Weeks' %}
                          {{ label_unit_type | remove: 's' }}
                          {% else %}
                          {{ label_unit_type }}
                          {% endif %}
                        </option>
                        {% endfor %}
                      </select>
                    </div>

                  {%- endif -%}
                {%- endif -%}
                <!-- ====== QUANTITY ======== -->
                <div class="quantity-select {% if product.type == 'Gift Card' %}hide{% endif %}">
                  <label for="quantity" arai-label="Quantity">QTY</label>
                  <select id="quantity" class="styled-select " name="quantity">
                    {%- for i in (1..6) -%}
                      <option value="{{ i }}">{{ i }}</option>
                    {%- endfor -%}
                  </select>
                </div>
              </div>

              <!-- ====== HIDDEN VARIANT SELECT ======== -->
              <select name="id" class="no-js visually-hidden" data-product-select>
                {% for variant in product.variants %}
                  <option
                    {% if variant == current_variant %}selected="selected"{% endif %}
                    {% unless variant.available %}disabled="disabled"{% endunless %}
                    value="{{ variant.id }}">
                      {{ variant.title }}
                  </option>
                {% endfor %}
              </select>

              <div class="">
                  <button
                  type="submit"
                  name="add"
                  class="btn btn--black js-add-to-cart-btn product-form__cart-submit"
                  data-add-to-cart
                  data-original-handle="{{ product.handle }}"
                  data-original-title="{{ product.title }}"
                  data-original-image="{{ cart_img }}"
                  {% unless current_variant.available %}disabled="disabled"{% endunless %}
                  data-metafield-image="{{ product_img }}">
                  <span data-add-to-cart-text>
                    {% if current_variant.available %}
                    {{ 'products.product.add_to_cart' | t }}
                    {% else %}
                    {{ 'products.product.sold_out' | t }}
                    {% endif %}
                  </span>
                  &mdash;
                  <span data-price-wrapper data-unit-price="{{ 'products.product.regular_price' | t }}" class="price-wrapper">
                    <span class="js-price" data-raw-price="{{ current_variant.price }}" data-product-price>
                      {{ current_variant.price | money }}
                    </span>

                    {% if product.compare_at_price_max > product.price %}
                    <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                    <s data-compare-price>
                      {% if current_variant.compare_at_price > current_variant.price %}
                      {{ current_variant.compare_at_price | money }}
                      {% endif %}
                    </s>
                    {% endif %}
                  </span>
                </button>

              </div>
            </form>

            {% if product.metafields.custom_fields["accordion_panels"] != blank %}
              {% assign separator = "|###|" %}
              {% assign panel_heading_array = product.metafields.custom_fields["panel_heading"] | split: separator %}
              {% assign panel_body_array = product.metafields.custom_fields["panel_body"] | split: separator %}
              {% assign panel_button_text_array = product.metafields.custom_fields["panel_button_text"] | split: separator %}
              {% assign panel_button_link_array = product.metafields.custom_fields["panel_button_link"] | split: separator %}
              {% assign fc_keys = product.metafields.custom_fields["accordion_panels"] | split: "," %}
              <div class="accordion list-animation-wrapper">
                {% for i in fc_keys %}
                  {% assign index = i | plus: 0 %}
                    <div class="accordion-panel animate-item">
                      <h3 class="accordion-toggle"><span class="text">{{ panel_heading_array[index] }}</span> <span class="icon"></span></h3>
                      <div class="accordion-text">
                        <div class="inner desc">
                          {{ panel_body_array[index] }}

                          {%- if panel_button_link_array[index] != blank or panel_button_text_array[index] != blank -%}
                            <a href="{{ panel_button_link_array[index] }}" class="btn btn--grey" target="_blank">
                              {%- if panel_button_text_array[index] -%}
                                {{ panel_button_text_array[index] }}
                              {%- else -%}
                                CA ingredients Disclosure requirements
                              {%- endif -%}
                            </a>
                          {%- endif -%}

                        </div>
                      </div>
                    </div>
                {% endfor %}
              </div>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="elevated-performance">
    <div class="flex-columns-2">
      <div class="container text-content v-aligner">
        <div>

          <h5 class="small-caps">
            {%- if product.metafields.custom_fields["elevated_performance_heading"] -%}
              {{ product.metafields.custom_fields["elevated_performance_heading"] }}
            {%- else -%}
              {{ section.settings.elevated_heading }}
            {%- endif -%}
          </h5>
        {% if product.metafields.custom_fields["elevated_performance_carousel"] != blank %}
          <div class="swiper-container swiper-container-pdp-quotes">
            <div class="swiper-wrapper">
              {% assign separator = "|###|" %}
              {% assign text_array = product.metafields.custom_fields["text"] | split: separator %}
              {% assign heading_array = product.metafields.custom_fields["heading"] | split: separator %}
              {% assign fc_keys = product.metafields.custom_fields["elevated_performance_carousel"] | split: "," %}
              {% for i in fc_keys %}
                {% assign index = i | plus: 0 %}
                <div class="swiper-slide">
                  <h5 class="small-caps">{{ heading_array[index] }}</h5>
                  {{ text_array[index] }}
                </div>
              {% endfor %}
            </div>
          </div>
          {%- else -%}
            <div class="swiper-container swiper-container-pdp-quotes">
              <div class="swiper-wrapper">
                {% for block in section.blocks %}
                {% case block.type %}
                {% when 'performance_text' %}
                  <div class="swiper-slide">
                    <h5 class="small-caps">{{ block.settings.heading }}</h5>
                    {{ block.settings.text }}
                  </div>
                {% endcase %}
                {% endfor %}
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
      <div>
        {%- if product.metafields.custom_fields["elevated_performance_img"] != blank -%}
          {% assign elevated_img = product.metafields.custom_fields["elevated_performance_img"] %}
          {% assign elevated_img_alt = product.metafields.custom_fields["elevated_performance_img_alt"] %}
        {%- else -%}
          {% assign elevated_img = section.settings.elevated_image %}
          {% assign elevated_img = elevated_img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          {% assign elevated_img_alt = section.settings.elevated_image_alt %}
        {%- endif -%}
        <div class="cropped-image-wrapper">
          <img
          class="lazyload fade-in"
          data-src="{{ elevated_img }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ elevated_img.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ elevated_img_alt }}"
          data-anim="scale"
          >
        </div>
      </div>
    </div>
  </section>

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>

{%- include 'ajax-add-to-cart' -%}

{%- include 'yotpo' -%}
{%- include 'block-related-products' -%}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "header",
        "content": "Subscription popup"
      },
      {
        "id": "subscription_popup",
        "type": "richtext",
        "label": "Subscription Popup Message"
      },
      {
        "type": "header",
        "content": "Elevated Performance"
      },
      {
        "id": "elevated_image",
        "type": "image_picker",
        "label": "Elevated Image"
      },
      {
        "id": "elevated_image_alt",
        "type": "text",
        "label": "Elevated Image Alt",
        "info": "Write a brief description of this image to improve search engine optimization (SEO) and ADA accessibility."
      },
      {
        "type": "header",
        "content": "Related Products"
      },
      {
        "id": "related_heading",
        "type": "text",
        "label": "Related Products Heading",
        "default": "You may also like"
      }
    ],
    "blocks": [
      {
        "type": "performance_text",
        "name": "Elevated Performance Text",
        "settings": [
          {
            "id": "heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "text",
            "type": "richtext",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
